<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

	<!-- DB에서 TotalCount 가져오기 -->
	<select id="totalCount" resultType="int" parameterType="ListData">
		select nvl(count(num), 0) from notice 
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
	</select>

	<select id="selectList" resultType="NoticeDTO" parameterType="ListData"> <!-- BoardDTO 타입으로 보내지만 NoticeDTO 타입으로 자동 형변환 -->
		select * from 
		(select rownum R, N.* from 
		(select * from notice 
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
		order by num desc) N) 
		where R between #{startRow} and #{lastRow}
	</select>

	<select id="selectOne" parameterType="int" resultType="NoticeDTO">
		select * from notice where num=#{num}
	</select>
	
	<insert id="insert" parameterType="NoticeDTO">
	 <!-- 밑에 insert 커리문을 실행기 전에 selectKey 커리문을 실행하고 그 결과의 값을 num에 넣어라
		    NoticeDTO에 num에는 값이 0 이기 때문에 board_seq.nextval 해준 값을 넣어주는 것
		    그러면 밑에 #{num}에  board_seq.nextval 값이 들어간다 그 값을 Service에서 꺼내주기 위해 하는 작업
		    insert커리문에 그냥 board_seq.nextval 을 해버리면 값이 들어가는게 아니기 때문에 Service에서 getNum() 했을때 0 이 나온다  -->
		<selectKey resultType="int" order="BEFORE" keyProperty="num">
			select board_seq.nextval from dual 
		</selectKey>
		insert into notice values (#{num},#{title},#{writer},#{contents},0,sysdate)
	</insert>

	<update id="update" parameterType="NoticeDTO">
		update notice set title=#{title}, contents=#{contents} where num=#{num}
	</update>

	<delete id="delete" parameterType="int">
		delete notice where num=#{num}
	</delete>

</mapper>
